temporalio==1.21.1
jsonschema
langgraph
langchain
langchain-openai
langchain-core
langchain-community
python-dotenv
openai
langchain_openai
pygithub
git-filter-repo
pytest-asyncio
instructor
tree-sitter
tree-sitter-typescript
httpx
jinja2
playwright
docker
